<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>
        <%=title%>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content")
    </script>
</head>

<body>
    <main class=" h-screen" style="background-color: #6c6c7f24; ">
        <%-include('header.ejs',{admin:admin})%>
            <div class="  sm:container mx-auto p-10 bg-white shadow-lg rounded-md "
                style=" margin: 30px auto; height: 75%; width: 65%;">
                <div class="mx-auto">
                    <% var data=[ {label:"Home",url:"/elections",current:false},
                         {label:`Edit
                        Question`,url:`/questions/${question.id}/edit`,current:true}, ] %>
                        <%- include('navigation.ejs',{data:data})%>
                            <div class="p-8 mx-auto flex flex-col align-center justify-center" style="width: 500px;">

                                <h1 class="text-gray-600 text-2xl font-semibold text-center">Edit Question</h1>
                                <form id="update_user" class="form">
                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>" id="_csrf" />
                                    <input type="hidden" name="answerId" value="<%=answer.id%>" id="answerId" />
                                    <input type="hidden" name="questionId" value="<%=question.id%>" id="questionId" />

                                    <div class="p-3">
                                        <label for="content" class="text-gray-600 text-lg py-2">content</label>
                                        <input type="text" name="content" id="content" required minlength="2"
                                            class="border border-gray-300 text-gray-900 rounded p-2 w-full mt-2"
                                            value="<%=answer.content%>" />
                                    </div>

                                    <div class="p-3">
                                        <button type="submit" id="submitBtn"
                                            class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2 w-full">SUBMIT</button>
                                    </div>
                                </form>
                                <%-include("errorMsg.ejs")%>

                            </div>
                </div>
            </div>
    </main>
    <script>

        document.querySelector('.form').addEventListener('submit', e => {
            e.preventDefault()
            const content = document.getElementById('content').value
            const cs = document.getElementById('_csrf').value
            const id = document.getElementById('answerId').value
            const questionId = document.getElementById('questionId').value

            console.log(content, cs, id)
            fetch(`/answers/${id}`, {
                method: 'put',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    content: content,
                    _csrf: cs
                })
            }).then((res) => {
                if (res.ok) {
                    window.location.replace(`/questions/${questionId}`);
                }
            }).catch((err) => window.alert(err.message))
        })

    </script>
</body>

</html>