<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title><%=title%></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content")
      function updateElection(id){
         // let compelete = false
          fetch(`/elections/${id}/launch`,{
              method:'put',
              headers:{"Content-Type":"application/json"},
              body:JSON.stringify({
                  _csrf:token
              })
          }).then((res)=>{
              if(res.ok){
                  window.location.reload();
              }
          }).catch((err)=>console.log(err))
      }
      console.log(window.location.pathname)
      </script>
  </head>
  <body>
    <div class="grid grid-cols-6 pt-5 mt-5">
        <div class="col-start-2 col-span-2">
          <%
          var data=[
    {label:"Home",url:"/elections",current:false},
    {label:`${election.title}`,url:`/elections/${election.id}`,current:true}
    ]%>
          <%- include('navigation.ejs',{data:data})%>
            <h1 class="text-2xl font-bold text-gray-600"><%=election.title%></h1>
      <div>
        
       <div>
        <% if(election.status=="launched"){%>
          <p>This election has launched and voters can access this URL</p>
        <a href="/elections/<%=election.id%>/vote" class="text-blue-600 underline">https://online-election.onrender.com/elections/1/vote</a>
          <%}%>
       <% if(questions.length==0){%>
          <p>You haven't created any questions</p>
        <%}%>
        <% if(questions.length > 0){%>
          <p>Your election has <%=questions.length%> questions in the ballot</p>
          <%}%>
       </div>
      
      <%if(election.status == "created"){%>
       <a href="/elections/<%=election.id%>/questions" class="text-green-600 block">Manage questions</a>
      <%}%>
       <div>
        <% if(voters.length==0){%>
           <p>You haven't created any voters</p>
         <%}%>
         <% if(voters.length > 0){%>
           <p>Your election has <%=voters.length%> registered voters</p>
           <%}%>
        </div>
       <a href="/elections/<%=election.id%>/voters" class="text-green-600 block">Manage Voters</a>
       <%if(election.status == "created"){%>
        <a href=""onclick="updateElection('<%=election.id%>')" class="text-green-600 block">Launch election</a>
        <%}%>
        <%if(election.status == "launched"){%>
          <a href="/preview" class="text-green-600 block">Preview Results</a>
          <a href="/end" class="text-green-600 block">End election</a>

          <%}%>

      </div>
    </div>
  </body>
</html>
