<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="<%= csrfToken %>" />
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <title>
    <%=title%>
  </title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
  <script>
    $(document).ready(function () {

      const element = document.getElementById("select1")
      const ck = element.options[element.selectedIndex].value
      var x = 0;

    })

    function myFunction() {
      x = document.getElementById("select1").value;
      console.log(x)
    }
    var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content")


  </script>
  <style>
    tr:nth-child(even) {
      background: rgb(204 204 204 / 20%);
    }

    body {
      font-family: 'Jost', sans-serif;

    }

    tr:hover {
      background: #c2c2c278;
    }
  </style>

</head>

<body>
  <main class=" h-screen pb-5" style="background-color: #6c6c7f24; ">
    <%-include('header.ejs',{admin:null})%>
      <div class="  sm:container mx-auto p-10 bg-white shadow-lg rounded-md "
        style=" margin: 30px auto; height: 75%; width: 75%;">
        <div class="mx-auto">
          <% var data=[ {label:"Home",url:"/elections",current:true} ] %>
            <%- include('navigation.ejs',{data:data})%>
              <div class="flex justify-between">
                <p class="py-2 text-2xl font-bold text-gray-600">
                  <%=election.title%>
                </p>
              
                  <select id="select1" name="selectedQuestion" onchange="myFunction()">
                    <%for(var i=0;i< questions.length;i++){%>
                      <a href="">
                        <option value="<%=questions[i].id%>">Question <%=i+1%>
                        </option>
                      </a>
                      <%}%>
                  </select>
              </div>
              <div class="shadow-lg rounded-lg overflow-hidden " style="    height: 35%;
                width: 40%;">
                
              <%var arr=[]; var ele={x:'',value:0}; var filtered=parR.filter(function (el)
              {
                return el.Question.id == 29
              })
                %>
                <% parR.forEach((element)=> {

                  arr.push({x:element.Answer.content,value:element.votes})
                  %>
                 
                  <%}) %>
                  <% filtered.forEach((element)=> {

                    %>
                    <p>
                      <%=element.answerId%>
                    </p>
                    <%}) %>
               <!-- Required chart.js -->
               


        </div>
        <div id="container" style="height: 400px;"></div>
      </div>
  </main>

      <script>
        anychart.onDocumentReady(function() {


// create the chart
var chart = anychart.pie();

// set the chart title
chart.title("<%=election.title%>");
var chartData=<%-JSON.stringify(arr)%>
console.log(chartData)
// add the data
chart.data(chartData);

// display the chart in the container
chart.container('container');
chart.draw();

});
      </script>

</body>

</html>