<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="<%= csrfToken %>" />
  <title>
    <%=title%>
  </title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

  <main class=" h-screen" style="background-color: #6c6c7f24; ">
    <%-include('header.ejs',{admin:null})%>
      <div class="  sm:container mx-auto p-10 bg-white shadow-lg rounded-md "
        style=" margin: 30px auto; height: 75%; width: 65%;">
        <div class="mx-auto">

          <div class="p-8 mx-auto flex flex-col align-center justify-center" style="width: 500px;">

            <h1 class="text-gray-600 text-2xl font-semibold text-center">Reset Password</h1>
            <form method="post" action='<%=token%>' onsubmit="submit_btn.disabled = true; return true;">
              <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
              <div class="p-3">
                <label for="password" class="text-gray-600 text-lg py-2">Enter new password</label>
                <div class="flex items-center relative">
                  <input  type="password" name="password" required
                      class="border border-gray-300 text-gray-900 rounded p-2 w-full mt-2" id="password" />
                  <button type="button" class="absolute ml-2  right-2" onclick="viewPassword()">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                          stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-green-400	">
                          <path stroke-linecap="round" stroke-linejoin="round"
                              d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                          <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                      </svg>
                  </button>
              </div>
              <div class="p-3">
                <button type="submit" name="submit_btn"
                  class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2 w-full">Submit</button>
              </div>
            </form>
            <%-include("errorMsg.ejs")%>
              <%-include("successMsg.ejs")%>

          </div>
        </div>
      </div>
  </main>
  <script>
    const password = document.getElementById('password')
   function viewPassword(){
    console.log('clicked')
    if(password.type=="text"){
        password.type="password"

    }else{
        password.type='text'
    }
   }
</script>
</body>

</html>
